<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<ul>
  <% @post.categories.each do |category| %>
  <li><%= category.name %></li>
  <% end %>
</ul>

Comments:
<% @post.comments.each do |comment| %>
  <%= comment.user.username %> says: <%= comment.content %>
<% end %>

<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>

Add a Comment:
<br>
<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id %>
  <%= f.label :user_ids, "Select a user" %>
  <%= f.collection_select :user_id, User.all, :id, :username %><br>

  <%= f.fields_for :user, @post.comments.last.build_user do |u| %>
    <%= u.label :username %>
    <%= u.text_field :username %><br>
  <% end %>

  <%= f.label :content %>
  <%= f.text_area :content %><br>

  <%= f.submit %>
<% end %>
